// The demo styles are for the presentation of the style guide (index.html) only

section {
	display: block;
}

section#color {
	color: $light;
}

section#font {
	background: #f3f3f3;
	color: $dark;
}

section#spotlight {
	background: $asphalt;
}

section#logo {
	background: $lime;
}

section#formelements {
	background: #f1f1f1;
	color: $dark;
}

section#iconfont {
	background: $darkteal;
	color: $light;
}

section#googleway {
	background: $asphalt;
	color: $light;
}

section#popstats{
	background: $lime;
}

section#bourbon{
	background: $orange;
}

/* #Nav
================================================== */



/* #Skelton Grid Demo
================================================== */

#skelton-grid {
	overflow: hidden;
	.alpha {
		background: $teal;
	}
	.omega {
		background: $lime;
	}
}

#skelton-grid .column, #skelton-grid .columns {
	font-family: $paragraph;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	border-radius: 4px;
}


/* #icon fonts
================================================== */

#iFont, #scrollTop {
	li {
		background: rgba(255,255,255,0.5);
		margin: 8px;
		padding: 10px;
		display: inline-block;
		border-radius: 8px;
	}
}
