/*
* PopShack Styles
* Copyright 2014, PopShack
* Author: Luke Illidge
* www.popshack.com/styleguide
*/

/* POPSHACK: Table of Content
==================================================
  # Font Import
  # Variable Import
	# Base Styles Import
  # Skeleton GRID Import
  # Media Query Import
*/

// Import Base Styles
@import "bourbon";
@import "font";
@import "variables";
@import "base";
@import "skeleton";
@import "animations";
@import "keyframes";
@import "helpers";
@import "formelements";
@import "media";
@import "jumbotron";
@import "spotlight";
@import "nav";
@import "devices";
@import "circliful";
@import "demo";
@import "mediaquery";

// Lab Styles

.lab-p {
	font-size: 1.6em;
	margin-bottom: 32px;
}

.lab-p2 {
	font-size: 1.4em;
	color: #fff;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

